[submodule "gentoo-overlay"]
	path = gentoo-overlay
	url = ./gentoo-overlay
[submodule "ionel-overlay"]
	path = ionel-overlay
	url = git@github.com:10ne1/ionel-overlay.git
[submodule "haskell-overlay"]
	path = haskell-overlay
	url = https://github.com/gentoo-haskell/gentoo-haskell.git
[submodule "qt-overlay"]
	path = qt-overlay
	url = https://github.com/gentoo/qt.git
