[submodule "gentoo-overlay"]
	path = gentoo-overlay
	url = ./gentoo-overlay
[submodule "c2p-overlay"]
	path = c2p-overlay
	url = ./c2p-overlay
[submodule "qt-overlay"]
	path = qt-overlay
	url = ./qt-overlay
[submodule "haskell-overlay"]
	path = haskell-overlay
	url = ./haskell-overlay
[submodule "ionel-overlay"]
	path = ionel-overlay
	url = git@github.com:10ne1/ionel-overlay.git
