[submodule "gentoo-overlay"]
	path = gentoo-overlay
	url = ./gentoo-overlay
[submodule "sabayon-for-gentoo-overlay"]
	path = sabayon-for-gentoo-overlay
	url = ./sabayon-for-gentoo-overlay
[submodule "c2p-overlay"]
	path = c2p-overlay
	url = ./c2p-overlay
[submodule "qt-overlay"]
	path = qt-overlay
	url = ./qt-overlay
[submodule "haskell-overlay"]
	path = haskell-overlay
	url = ./haskell-overlay
